$themeColor: #2d2d35;

$blue: #406dff;
$green: #67C23A;
$yellow: #E6A23C;
$red: #F56C6C;

.disappear {
  opacity: 0;
}

// 文本显示显示省略号
// @include textEllipsis(lineNum);
@mixin textEllipsis($lineNum) {
  @if $lineNum == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineNum; //需要显示的行数
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
