body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.app_header_main {
  background-color: #232730;
  width: 100%;
  height: 6vh;
}
.app_header_main .logo {
  height: 10%;
  color: grey;
  text-decoration: none;
  line-height: 6vh;
  margin: 0 2rem;
}

.app_header_modules {
  background-color: transparent;
  width: 100%;
  height: 6vh;
}
.app_header_modules .left {
  margin: 0.8rem 1.4rem;
}

.app_footer {
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: grey;
  background-color: #232730;
  font-size: 0.8rem;
  padding: 0 0 0 2rem;
}
.app_footer a {
  text-decoration: none;
}

.not_found {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6rem;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0.5rem;
  opacity: 0.1;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 0.5rem;
}