.count_down {
  min-height: 190vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.count_down .logo {
  height: 40vmin;
  pointer-events: none;
}
.count_down .time {
  font-size: 6rem;
  margin: 1rem auto;
}
.count_down .date {
  font-size: 2rem;
  margin: 1rem auto;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 30s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}