body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.top_nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.top_nav .top_nav_item {
  color: lightgrey;
  text-decoration: none;
  line-height: 2rem;
  margin: 0 1rem;
}