.top_nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto auto auto 1rem;
}
.top_nav .navs {
  opacity: 1;
  transition: opacity 0.3s;
}
.top_nav .navs .top_nav_item {
  height: 10%;
  color: grey;
  text-decoration: none;
  line-height: 4rem;
  margin: 0 1rem;
}

.app_footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2vh;
  color: grey;
  background-color: #232730;
}

.disappear {
  opacity: 0;
}