body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

$headerfootercolor: #232730;

@mixin appheadersize($headerfootercolor: transparent) {
  background-color: $headerfootercolor;
  width: 100%;
  height: 6vh;
}

.app_header_main {
  @include appheadersize($headerfootercolor: #232730);
  .logo {
    height: 10%;
    color: grey;
    text-decoration: none;
    line-height: 6vh;
    margin: 0 2rem;
  }
}

.app_header_modules {
  @include appheadersize;
  .left {
    margin: 0.8rem 1.4rem;
  }
}

.app_footer {
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  color: grey;
  background-color: $headerfootercolor;
  font-size: 0.8rem;
  margin: 0 0 0 2rem;
}
.not_found {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6rem;
  font-style: italic;
}
