$svg_size: 40px;

.top_nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto auto auto 2rem;
  .top_nav_item {
    height: 10%;
    color: grey;
    text-decoration: none;
    line-height: 4rem;
    margin: 0 1rem;
  }
  span:last-child {
    margin: auto 2rem auto auto;
  }
  .arrow {
    width: $svg_size;
    height: $svg_size;
    stroke: grey;
    stroke-width: 0.6;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: grey;
    transition: all 0.3s;
    opacity: 1;
  }
}

.navs {
  opacity: 1;
  transition: opacity 0.3s;
}
.disappear {
  opacity: 0;
}
.arrow_animation {
  transform: rotate(180deg);
}

.not_found {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 8rem;
  font-style: italic;
}
