$svg_size: 40px;

.top_nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto auto auto 1rem;
  .navs {
    opacity: 1;
    transition: opacity 0.3s;
    .top_nav_item {
      height: 10%;
      color: grey;
      text-decoration: none;
      line-height: 4rem;
      margin: 0 1rem;
    }
  }
}

.particle {
  width: 90%;
 
}

.disappear {
  opacity: 0;
}
