.login {
  width: 40vh;
  height: 30vh;
  margin: 25vh auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.8);
  color: white;
  .loginItem {
    margin: 1vh 0;
  }
}

.app_footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3vh;
  line-height: 1vh;
  color: grey;
  background-color: #232730;
  font-size: 0.5rem;
  padding: 0 0 0 2vw;
  svg {
    cursor: pointer;
  }
}
