@import '@common/style/variable.scss';

.clock {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  .time {
    font-size: 16vw;
    margin: 1vw auto;
  }
  .date {
    font-size: 3vw;
    margin: 1vw auto;
    color: $red;
  }
}
