:root {
}

[data-theme='light'] {
  --background: #fff;
  --text: #000000;
  --secondaryText: #272727;
  --primary: #409eff;
  --success: #47d400;
  --error: #ef5350;
  --warning: #e6a23c;
  --header-background: rgba(255, 255, 255, 0.8);
}

[data-theme='dark'] {
  --background: #1d2025;
  --text: #fff;
  --secondaryText: #cfcfcf;
  --primary: #409eff;
  --success: #63ca30;
  --error: #d9534f;
  --warning: #e6a23c;
  --header-background: #00000080;
}

body {
  color: var(--text);
  background-color: var(--background);
  $transitionDuration: 0.1s;
  -moz-transition: all $transitionDuration ease-in;
  -o-transition: all $transitionDuration ease-in;
  -webkit-transition: all $transitionDuration ease-in;
  transition: all $transitionDuration ease-in;
}
