.header{
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    height: 8vh;
    line-height: 8vh;
  }
}

.main {
  background-color: white;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
  section {
    padding: 32px;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  .logo {
    position: relative;
    top: 0.1em;
    height: 1em;
  }
}
