.count_down {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  .icon {
    height: 30vw;
    pointer-events: none;
  }
  .time {
    font-size: 6vw;
    margin: 1vw auto;
  }
  .date {
    font-size: 2vw;
    margin: 1vw auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
    animation: icon-spin infinite 30s linear;
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
