@import '@common/style/variable.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  .user {
    margin: 0 1rem;
    .username {
      text-align: center;
      line-height: 3rem;
      color: white;
    }
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}
